
.contact-editor {
    height: 275px !important;
    padding: 5px !important;
    border-radius: 2px !important;
    background-color: white !important;
}

.contact-editor .rdw-editor-toolbar {
    border:  1px solid var(--col-border) !important;
    background: var(--col-input-container) !important;
}

.contact-editor .rdw-dropdown-wrapper {
    background: var(--col-input-container) !important;
    border: 1px solid var(--col-border) !important;
}

.contact-editor .rdw-option-wrapper {
    border: 1px solid var(--col-border) !important;
    background: var(--col-input-container) !important;
}