.content {
    @include margin;
    min-height: 40rem;
    color: var(--col-text-1);
    &__holder {
        margin-bottom: 4rem;
        padding-top: 2rem;
    }
    &__title {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 5rem;       

    }
    &__title.arabic {
        font-size: 5rem;
        font-family: $font-somar;
    }
    
    &__darker-holder {
        background-color: var(--col-alt-bg);
        margin: 0 -30rem;
        &-title {
            text-align: center;
            margin-bottom: 1rem;
            color: white;
            font-size: 3.6rem;
            padding: 0.5rem 0;
    
        }
        &-title.arabic {
            font-size: 5rem;
            font-family: $font-somar;
        }
    }

    &__image-holder {
        // background-image: url("/assets/falling-banknotes-concept.jpg");
        background-position: center;
        background-size: contain;
        margin: 0 -30rem;
        
        &-title {
            text-align: center;
            margin-bottom: 1rem;
            color: white;
    
        }
        &-title.arabic {
            font-size: 5rem;
            font-family: $font-somar;
        }

        &__categories {
            display: flex;
            flex-direction: row;
            justify-content: center;
            @include respond(_992) {
              flex-wrap: wrap;
            margin: 0;

    
            }
            margin: 2rem 0;

        }
        &__categories .category:first-child {
            margin-right: 20rem;
            @include respond(_992) {
                margin: 1rem 1rem;
   
            }
        }
        &__categories .category:last-child {
            margin-left: 20rem;
            @include respond(_992) {
                margin: 1rem 1rem;

            }
        }

        &__categories .category {
            margin: 0 1rem;
            @include respond(_992) {
                margin: 1rem 1rem;
            }
        }
        
    }

    &__fr {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        @include respond(_992) { 
            flex-wrap: wrap;
        }
    }
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    
    border-top: 3rem solid var(--col-primary);
  }

.main-divider {
    width: 100%;
    border-top: 3px solid var(--col-primary);
    
    z-index: 6;
}

.dark-theme .main-divider {
    box-shadow: 0 0 2rem var(--col-primary);
}

.mobile-drop {
    display: none;
    visibility: hidden;
    @include respond(_768) {
        display: block;
        visibility: visible;        
    }
}

.loader--spinner {
    width: 100%;
    display: flex;
    justify-content: center;
}
.loader--spinner svg {
    width: 3rem;
    height: 3rem;    
}

.av-height {
    height: 30rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.center {
    margin: auto;
}

.transit-box-width {
    transition: width .3;
    max-width: 70rem;

}