.card-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    @include respond(_992) { 
        flex-wrap: wrap;
    }
    


    &__item {
        cursor: pointer;
        @include respond(_992) {
            margin: 2rem 0;

        }
        width: 20em;
        margin: 2rem 0;

    }

}