.root {
    .carousel .slide img {
        width: 40%
    }

    .carousel.carousel-slider .control-arrow:hover {
        background: unset;
    }

    .carousel__img {
        height: 100%;
        height: 35rem;
        background-position: center;
        background-size: cover;
    }
    .carousel__img .img_cont {
        background-color: $col-carousel;
        opacity: 0.6;
        height: 100%;
        width: 100%;
        filter: grayscale(0.6);
    }
}