.modal {
    min-width:30rem;
    min-height:20rem;
    max-width:calc(100vw - #{$gutter * 2});

    transition:transform .3s ease, opacity .3s ease;
    transform: rotateX(90deg) translateY(20px);
    opacity:0;
    transform-origin:top center;

    @include card(var(--col-background));
    display:flex;
    flex-direction:column;
    padding:0;

    &--center {
        text-align:center;
    }

    cursor:default;

    &__background {
        position:fixed;
        z-index:998;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        visibility:hidden;
        opacity:0;

        transform-style: preserve-3d;
        perspective:1300px;

        background:rgba(0,0,0,.5);
        backdrop-filter: blur(5px);
        
        transition:all .4s ease;
        cursor: crosshair;

        &--active {
            visibility:visible;
            opacity:1;
        }
    }

    &__background--active & {
        transform:rotateX(0) translateY(0);
        opacity:1;
    }

    &__header {
        padding:$gutter / 1.5 $gutter;
        background-color:var(--col-border-light);
        border-bottom:1px solid var(--col-border);
    }

    &__title {
        margin:0;
        font-size:2rem;
        color:var(--col-text-1);
    }

    &__content {
        padding:$gutter;
        flex:1;

        &--center {
            display:flex;
            flex-direction:column;
            justify-content:center;
        }
    }

    &__form {

    }
}