@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
    font-family: "Somar", "regular";
    src: url("/fonts/somar/Somar-Regular.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Somar", "bold";
    src: url("/fonts/somar/Somar-ExtraBold.otf");
    font-style: medium;
    font-weight: bold;
    font-display: swap;
  }

html {
    //defines 1rem as 10px to make math easier
    font-size:62.5%;

    @include respond(_1200) { font-size:57.5% }
    @include respond(_992) { font-size:55% }
    @include respond(_768) { font-size:52.5% }
    @include respond(_576) { font-size:50% }
}

body {
  font-size:1.5rem;
  line-height:1.4;
  font-family: $font-lato;
}

.root {
  overflow-x: hidden;
  //transition: all .3s cubic-bezier(0.45, 0.28, 0.17, 0.94);
  min-height:100vh;
  background-color:var(--col-background);
  color:var(--col-text-2);

  display:flex;
  flex-direction:column;

  cursor: default;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    margin: 0;


    :last-child {
      border-right: 0;
    }
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--col-background);
    color: var(--col-text-2);
  } 
  
}