$main-color: #00FFFF;
$col-background-light: #f3f3f3;

$col-secondary: #00b459;
$light-color2: #FFF;
$color-2: #2adada;
$button-color: #13bebe;
$button-color-side: #0b6b6b;
$text-light-main: #1D3244;
$text-light-placeholder: #999999;
$alt-light-bg: #1D3244;
$alt-light-bg2: #1D3D56;
$slider-hov: #72070099;

$col-border-dark: #666666;

$col-container-dark: #242423; //#24261F;
$dark-color2: #1A1919;
$col-background-dark: #24261F;
$text-dark-main: #E1F3F9;
$text-dark-placeholder: #bdbdbd;

$col-dark: #24261F;

$col-border-smooth-dark: #373737;
$col-border-smooth-light: lightgray;

$col-shadow-light: #c1c7d1;
$col-shadow-dark: #00000073;

$col-shadow-light-hover: #7272729e;
$col-shadow-dark-hover: #0000009e;

$col-paper: #080D11;
$col-border: #06B2CE;
$col-carousel: #720700;

.light-theme, .dark-theme {
    --col-primary: #{$main-color};
    --col-secondary: #{$col-secondary};
    --col-slider: #{$slider-hov};
}

.light-theme {
    --col-container: white;
    --col-nav: #{$light-color2};
    --col-hover-nav: #{$color-2};
    --col-background: #{$col-background-light};

    --col-input-placeholder: #{$text-light-placeholder};
    --col-text-1: #{$text-light-main};
    --col-text-2: #{$text-light-main};

    --col-alt-bg: #{$alt-light-bg};
    --col-alt-bg2: #{$alt-light-bg2};

    --col-border: #{$col-border-smooth-light};

    --col-shadow: #{$col-shadow-light};
    --col-shadow-hover: #{$col-shadow-light-hover};
}

.dark-theme {
    --col-container: #{$col-container-dark};
    --col-nav: #{$dark-color2};
    --col-hover-nav: #{$color-2};
    --col-background: #{$col-background-dark};

    --col-input-placeholder: #{$text-dark-placeholder};
    --col-text-1: #{$text-dark-main};
    --col-text-2: #{$text-dark-main};

    --col-alt-bg: #{$alt-light-bg};
    --col-alt-bg2: #{$alt-light-bg2};

    --col-border: #{$col-border-smooth-dark};

    
    --col-shadow: #{$col-shadow-dark};
    --col-shadow-hover: #{$col-shadow-dark-hover};
}

$font-lato: 'Lato', sans-serif;
$font-somar: 'Somar';
$font-somar-bold: 700;

$gutter: 1.5rem;

$container-border: 1px;

$radius: 6px;